* {
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    height: 100vh;
}



/* Styles */
#top-bar {
    height: 60px;
    display: flex;
    align-items: center;
    margin: 0 25px;
}
#top-bar a {
    font-size: 14px;
    text-decoration: none;
    color: white; 
    margin: 10px;
}
header {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: right;
    float: none;
    overflow: hidden;
}
header div {
    display: flex;
    align-items: center;
}
header .links-section {
    padding: 0 35px 0 0;
}
header .imgs-section {
    padding: 0 0 0 10px;
}
header div a {
    margin: 0 10px 0 10px
}
header img {
    margin: 0 10px 0 10px;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    padding: 5px;
    transition: ease-in-out 0.3s;
    cursor: pointer;
}

#logo {
    display: flex;
    justify-content: center;
    height: 40%;
    align-items: end;
}
#logo img {
    width: 272px;
}

#search {
    display: flex;
    width: 40vw;
    height: 65px;
    border-radius: 50px;
    background-color: darkgray;
}
#search div {
    display: flex;
    justify-content: center;
    align-items: center;
}
#search > svg {
    width: 20px;
    height: 20px;
}
#search div svg {
    width: 25px;
    height: 25px;
}
#search div div svg {
    width: 20px;
    height: 20px;
}
#search svg {
    fill: lightgrey;
}

/* Global hover/active transitions */
#top-bar a:hover {
    text-decoration: underline;
}
#top-bar img:hover {
    background: rgba( 120, 120, 120, 0.7 );
}
#top-bar img:active {
    background: rgba( 70, 70, 70, 0.8 );
}

/* Responsive design */
@media screen and ( width <= 600px ) {
    #top-bar > a {
        display: none;
        visibility: hidden;
    }
    header {
        justify-content: space-between;
    }
    header .imgs-section {
        padding: 0 0 0 35px;
    }
}
